@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-10px) rotate(1deg);
  }

  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@keyframes runInFromRight {
  0% {
    transform: translateX(800px) translateY(0);
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  10% {
    transform: translateX(450px) translateY(-15px);
  }

  20% {
    transform: translateX(400px) translateY(0);
  }

  30% {
    transform: translateX(350px) translateY(-15px);
  }

  40% {
    transform: translateX(300px) translateY(0);
  }

  50% {
    transform: translateX(250px) translateY(-15px);
  }

  60% {
    transform: translateX(200px) translateY(0);
  }

  70% {
    transform: translateX(150px) translateY(-15px);
  }

  80% {
    transform: translateX(100px) translateY(0);
  }

  90% {
    transform: translateX(50px) translateY(-15px);
  }

  100% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-run-in {
  animation: runInFromRight 2s ease-out forwards, float 4s ease-in-out infinite 2s;
}